@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");
/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  background-color: #f0dcf7;
  outline: 0.05rem solid #21295c;
  margin: 5px;
  padding: 5px;
  border-radius: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

.journal__title {
  text-align: center;
  background-color: #010317;
  font-weight: 700;
  color: azure;
  border-radius: 20px;
  margin: 1rem;
  padding: 0.5rem;
  outline-offset: 0.5rem;
}

.entryForm {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  background-color: #727ffc;
  padding: 1rem;
  margin: 1rem;
  color: azure;
  border-radius: 20px;
}

.entryForm__date,
.entryForm__conceptsCovered,
.entryForm__journalEntry,
.entryForm__moodForTheDay {
  align-content: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 25px;
  min-width: 90vw;
  border-radius: 20px;
  border-color: #010317;
}

.entryForm__date__label,
.entryForm__conceptsCovered__label,
.entryForm__journalEntry__label,
.entryForm__moodForTheDay__label {
  align-content: flex-start;
  min-width: 20vw;
}
.entryForm__date__input,
.entryForm__conceptsCovered_input,
.entryForm__journalEntry__textarea,
.entryForm__moodForTheDay__select {
  align-content: flex-start;
  min-width: 50vw;
  border-radius: 20px;
}

.entryForm__button {
  text-align: center;
  align-content: center;
  align-self: center;
  background-color: #010317;
  color: azure;
  border-radius: 20px;
  padding: 0.5rem;
  margin: 1rem;
}

.previous-entries-title {
  grid-area: header;
  text-align: center;
  margin: 1rem;
  padding: 0.5rem;
  outline-offset: 0.5rem;
  border-radius: 20px;
  background-color: #010317;
  font-weight: 700;
  color: azure;
}
.previous-entries-sidebar {
  grid-area: sidebar;
  background-color: #727ffc;
  /* min-width: 25vw; */
  min-height: fit-content;
  margin: 1rem;
  padding: 0.5rem;
  outline-offset: 0.5rem;
  /* outline: 0.15rem solid #21295c; */
  box-shadow: 0 0 0 0.1rem #c2cfd8;
  border-radius: 20px;
}
.previous-entries-cards-container {
  grid-area: main;
  background-color: #abb2f5;
  /* min-width: 75vw; */
  /* min-height: fit-content; */
  margin: 1rem;
  padding: 0.5rem;
  outline-offset: 0.5rem;
  outline: 0.05rem solid #21295c;
  box-shadow: 0 0 0 0.01rem #c2cfd8;
  border-radius: 20px;
}

.previous-entries-parent-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header"
    "sidebar main main main";
}

.previous-entries-card-item1 {
  grid-area: card1;
  background-color: gold;
  text-align: center;
  justify-self: stretch;
  align-self: stretch;
  height: fit-content;
  padding: 5px;
  margin: 5px;
  border-radius: 25% 10%;
  transition: all 1s ease;
  justify-self: stretch;
  align-self: center;
}

.previous-entries-card-item2 {
  grid-area: card2;
  background-color: gold;
  text-align: center;
  justify-self: stretch;
  align-self: stretch;
  height: fit-content;
  padding: 5px;
  margin: 5px;
  border-radius: 25% 10%;
  transition: all 1s ease;
  justify-self: stretch;
  align-self: center;
}

.previous-entries-card-item3 {
  grid-area: card3;
  background-color: gold;
  text-align: center;
  justify-self: stretch;
  align-self: stretch;
  height: fit-content;
  padding: 5px;
  margin: 5px;
  border-radius: 25% 10%;
  transition: all 1s ease;
  justify-self: stretch;
  align-self: center;
}

.previous-entries-card-item1:hover,
.previous-entries-card-item2:hover,
.previous-entries-card-item3:hover {
  border-radius: 0;
}

.previous-entries-card-items-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "card1 card2 card3";
  column-gap: 20px;
  row-gap: 20px;
}

.previous-entries-card-component-title {
  grid-area: title;
  font-weight: 900;
  font-size: larger;
  justify-self: center;
  align-self: center;
}
.previous-entries-card-component-date {
  grid-area: date;
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  justify-self: center;
  align-self: center;
}
.previous-entries-card-component-mood {
  grid-area: mood;
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  justify-self: center;
  align-self: center;
}
.previous-entries-card-component-content-details {
  grid-area: content-details;
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 500;
  justify-self: center;
  align-self: center;
}

.previous-entries-card-component-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas:
    "title"
    "date"
    "mood"
    "content-details";
}
